.layout {
  /* background-color: rgb(158, 219, 219);   */
  background: linear-gradient(to right, #61bbc7, #00ff00);

  width: 100%;
  height: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Open Sans', Arial, sans-serif;
  flex-direction: row;
}

.header{
  display: flex;
  /* justify-content: center; */
  align-items: center;

}


.button {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  background-color: #1eb826;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: '5%';
}
.button:hover {
  background-color: #ffffff;
  color: #000000;
}

.link {
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  background-color: #1eb826;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
  margin: '5%';
}
.link:hover {
  background-color: #ffffff;
  color: #000000;
}

.info{
  display: inline-block;
  margin: 5px;
  padding: 10px 20px;
  background-color: #e42e2e;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  margin: '95%';
}

.editorToolbar{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 700px;
}

.homepage {
  text-align: center;
  margin-top: 100px;

}

.homepage h1 {
  font-size: 50px;
  color: #070707;
  font-family: 'Exo', 'Arial Narrow', Arial, sans-serif;
}

.homepage button {
  padding: 10px 20px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.tasks {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tasks h1 {
  font-family: 'Exo', 'Arial Narrow', Arial, sans-serif;
  font-size: 70px;
}

.taskLi{
  font-family: 'Exo', 'Arial Narrow', Arial, sans-serif;
  margin-right: 20px;
}

.tasks ul {
  list-style: none;
  padding: 0;
}

.tasks li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  flex: 1;
  padding: 10px;
  /* background-color: #F5F5F5; */
  font-size: 16px;
  font-weight: bold;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.2s;
}


/* .editor {
  margin-top: 50px;
  width: 100%;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
  font-size: 14px;
  
} */

.editor textarea {
  
  margin: auto;
  background-color: #fdf5f5;
  height: 80%;
  width: 80%;
  border-color: #fff;
}

.editArea {
  width: 100px;
  height: 100px;
  background-color: #4285f4;
  margin: auto;
  background-color: #fdf5f5;
  height: 80%;
  width: 80%;
  border-color: #fff;
  font-family: 'Fira Code', monospace;
}



.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.iconSpin {
  animation: spin-js 2s linear infinite;
  transform-origin: center;
  width: 70px; 
  height: 70px; 
}

@keyframes spin-js {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


